/* nav start*/

/*common*/
a:hover{text-decoration: none;}

/*common*/


.logo{
	 margin-left: 40px;
    width: 100px;
    height: 17px;
    margin-top: 37px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-top: 25px;
}
.input-group.mb-2 {
    width: 150px;
    height: 38px;
    margin-left: 20px;
    margin-top: 15px;
}

/*middle*/
.col-4.mid {
    margin-top: 20px;
    margin-left: -110px;
}
.vodiapicker{
  display: none; 
}

#a{
  padding-left: 0px;
}

#a img, .btn-select img{
  width: 12px;
  
}

#a li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
      padding-left: 25px;
}

#a li:hover{
 background-color: #F4F3F3;
}

#a li img{
  margin: 5px;
}


/*/////////////////////////////////////////// 
                item list 
///////////////////////////////////////////*/


.b{
  left: -25px;
  top: calc(100% + 15px);
  display: block;
  min-width: 180px;
  padding: 15px 5px;
  position: absolute;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(142, 142, 142, 0.14) 0px 3px 20px;
  z-index: 99;
}

.open{
  display: show !important;
}

.btn-select{
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
  height: 34px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
      width: 140px;
    height: 36px;
 
}
.btn-select li{
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.btn-select:hover li{
  margin-left: 0px;
}

.btn-select:hover{
  background-color: #F4F3F3;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;
  
  
}

.btn-select:focus{
   outline:none;
}

.lang-select{
  margin-left: 30px;    margin-top: 20px;
}


/**/

.end>ul>li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
}
.end{margin-top: 20px;}

/*///////////////////////////////////////////
            category dropdown 
///////////////////////////////////////////*/
.btn-select>li>img{width: 20px; height: 19px;     margin-left: 10px;}
.btn-select li span {
    margin-left: 20px;
    font-size: 15px;
    color: rgb(0, 158, 127);
    font-weight: 700;
    font-family: Lato, sans-serif;
    align-items: center;
}
#a li span{
  margin-left: 20px;
  font-size: 15px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  align-items: center;
}

#a li>img {
    width: 20px;
    height: 19px;
    color: green;
}
#a li>img:hover{
  color: rgb(0, 158, 127);
}

/*nav end*/
.first>a{
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  line-height: 1.2em;
  font-family: Lato, sans-serif;
  display: flex;
  margin-top: 11px;
}
.needImg{
   margin-right: 5px;
    display: flex;
}
.join>a{
      padding: 0px 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    appearance: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    height: 38px;
    text-decoration: none;
    font-family: inherit;
    border: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 158, 127);
}
img.arrow {
    margin-left: -56px;
    width: 15px;
    height: 15px;
    margin-top: 20px;
}
#a li:hover{
  color: rgb(0, 158, 127);
}

/*///////////////////////////////////////////
                modal
///////////////////////////////////////////*/
.log{
      margin-bottom: 0px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(119, 121, 140);
    display: block;
    margin-top: 50px;
    margin-left: -178px;
}
.modal-header {
    padding-top: 40px;
    padding-left: 60px;}
p#exampleModalLabel {
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: rgb(0, 158, 127);
    text-align: center;
        margin-left: 112px;
}
.input_form{
      display: block;
    width: 100%;
    padding: 0px 18px;
    appearance: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: inherit;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 6px;
    color: rgb(13, 17, 54);
    transition: all 0.25s ease 0s;
    height: 48px;
    background-color: rgb(247, 247, 247);
    margin-bottom: 10px;
}
.input_form:focus {
    border-color: rgb(0, 158, 127);
}
.input_form:hover, .input_form:focus {
    outline: 0px;
}
.input_model{
    padding: 0px 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    appearance: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    border: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 158, 127);
    height: 48px;
}
.or{padding: 15px 0px;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;}
.in{    display: flex;
    margin-right: 6px;}
.modal-body.mb-3 {
    padding: 40px 60px 0px;
}
.input_model:focus {
    outline: none;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: block;}
.wdkJZ {
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(119, 121, 140);
    margin: 0px;
}
.gMLTNm {
    background-color: transparent;
    border: 0px;
    outline: 0px;
    box-shadow: none;
    padding: 0px;
    font-size: calc(14px);
    font-weight: 700;
    color: rgb(0, 158, 127);
    text-decoration: underline;
    cursor: pointer;  
}
.modal-footer {
    display: block;
   text-align: center;
     border-top: 0px solid #dee2e6;}



     /*///////////////////////////////////////////
                        search
     ///////////////////////////////////////////*/
     .bNhkLo {
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 15px;
    padding-right: 20px;
    height: 48px;
    color: rgb(119, 121, 140);
    background-color: inherit;
    appearance: none;
    border: 0px;
}.cgQlyu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    color: rgb(119, 121, 140);
    background-color: rgb(247, 247, 247);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
}
.headerSearch {
    display: flex;
}
.headerSearch {
    margin: 0px 30px;
}
.cgQlyu input {
    padding-left: 0px;
}.bNhkLo:focus {
    outline: 0px;
}

/*///////////////////////////////////////////
                test part
///////////////////////////////////////////*/
.iZJWTw {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 310px;
}
.bFNMjl {
  font-size: 45px;
  color: rgb(13, 17, 54);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.hLehLx {
  font-size: 19px;
  color: rgb(119, 121, 140);
  display: block;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 60px;
  text-align: center;
}
.daMHOS {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
}
.jtlNCc {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 700px;
  color: rgb(119, 121, 140);
  background-color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 21px 36px;
}
.dOCXOB {
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(0, 158, 127);
  background-color: rgb(247, 247, 247);
  border-radius: 6px;
  margin: 5px;
  white-space: nowrap;
  text-transform: capitalize;
}
.jtlNCc input {
  padding-left: 20px;
}
.iHVcrF {
  -moz-box-flex: 1;
  flex-grow: 1;
  font-size: 15px;
  padding-right: 20px;
  height: 48px;
  color: rgb(119, 121, 140);
  background-color: inherit;
  appearance: none;
  border: 0px none;
}
.ewzloU {

    background-color: rgb(0, 158, 127);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    display: flex;
    height: 48px;
    -moz-box-align: center;
    align-items: center;
    border: 0px none;
    outline: currentcolor none 0px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    flex-shrink: 0;

}
.iHVcrF:focus {
  outline: currentcolor none 0px;
}
/*///////////////////////////////////////////
                arrow sign
///////////////////////////////////////////*/
.cdYZfJ {
  width: 12px;
  margin-left: 16px;

  display: flex;
  -moz-box-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 158, 127);
  text-decoration: none;
}
.description{
  margin-top: 0px;
  background-image: url("../images/navback.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
}
.fEVFNx {
  height: auto;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  margin-top: 210px;
}



/*nav end*/


/*////////////////////////////////////////////
             product carousel start
//////////////////////////////////////////////*/

/*left side*/
.single-product{
    margin-top: 80px;
    margin-bottom: 50px;
}
.single-product .col-3 img{
    padding: 0;
    margin-bottom: 5px;
}
.single-product .col-3{
    padding: 20px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*///////////////////////////////////////////
            right side (details)
///////////////////////////////////////////*/
.rating {
    list-style-type: none;
    display: flex;
    padding: 0px;
}
.rating li {
    padding-right: 3px;
}
.skin-light .table {
    color: #4f4f4f;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table td, .table th {
    border-top: 0px solid #dee2e6;
}
strong {
    font-weight: 500;
}




.def-number-input.number-input.safari_only.mb-0 {
    border: 1px solid #ced4da;
    width: 8.6rem;
    border-radius: .25rem;
  }
  .minus {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
    width: 2.5rem;
    height: .7rem;
    padding-left: 10px;
  }
  .plus {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
    height: .7rem;
    padding-left: 10px;
  }
  .quantity {
    max-width: 3rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
  }

  .minus::before {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: .7rem;
    background-color: #495057;
}
.minus::after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: .7rem;
    background-color: #495057;
}
.plus::before {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: .7rem;
    background-color: #495057;
}
.plus::after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: .7rem;
    background-color: #495057;
}
.plus::after {
    -webkit-transform: translate(-50%,-50%) rotate(90deg);
    transform: translate(-50%,-50%) rotate(90deg);
}
input[type="number"] {
    -moz-appearance: textfield;
}

.btn.btn-light.btn-md.mr-1.mb-2.cart {

    font-size: 10.24px;
    padding: 14px 25px 13px 25px;
    line-height: 1.1;
    color: #4f4f4f !important;
    background-color: #f2f2f2 !important;
    margin: 0;
        margin-right: 0px;
        margin-bottom: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    border-radius: .25rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.05);
    font-size: 12px;
    padding: 17px 29px 16px 29px;
    line-height: 1;

}
.btn.btn-primary.btn-md.mr-1.mb-2.buy{
    font-size: 10.24px;
    padding: 14px 25px 13px 25px;
    line-height: 1.1;
    margin: 0;
        margin-right: 0px;
        margin-bottom: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    border-radius: .25rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.05);
    font-size: 12px;
    padding: 17px 29px 16px 29px;
    line-height: 1;
    color: #fff;
    background-color: #1266f1 !important;
}

.skin-light .buy:hover,.cart:hover, .skin-light .buy:focus,.cart:focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.14),0 4px 15px 0 rgba(0,0,0,0.12);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.14),0 4px 15px 0 rgba(0,0,0,0.12);
}

/*product carousel end*/


/*////////////////////////////////////////////
 description and review (classic tab) start
//////////////////////////////////////////////*/

.rounded {
    border-radius: .375rem !important;
    margin-bottom: 50px;
}
#advancedTab {
    background-color: #fff !important;
    margin-bottom: 15px;
}
.classic-tabs ul li a{
    font-weight: 500;
}

.classic-tabs .nav li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    color: #6c757d;;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
}

.classic-tabs .nav li a.active {
    color: #17e149;
    border-bottom: 3px solid;
}
#advancedTabContent {
    padding: 1.2rem .6rem;
}

.md-form.md-outline {
    margin-bottom: 10px;
}

/* description and review (classic tab) end*/

/*/////////////////////////////////
  related product carousel start
/////////////////////////////////*/
.sidebar {
    margin-bottom: 20px;
}
.related h3 {
    font: 400 22px/32px "Oswald", Arial, sans-serif;
    color: #444645;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 25px;
}

.carousel-item ul li{
    list-style-type: none;
    float: left;
    display: block;
    width: 263px;
}

.related-product img{
    max-width: 100%;
    display: block;
    height: auto;
}
.about-product h5 a{
    color: #4f4f4f;
}
.about-product h5{
    font: 700 18px/20px "PT Sans", sans-serif;
}
.rating-container .rating li .fa{
    color: #e9f018 !important;
}

.flex-direction-nav {
    position: absolute;
    top: -48.5px;
    width: 74px;
    height: 25px;
    right: 30px;
    margin-top: 10px;
}
.flex-direction-nav a{
    display: block;
    background-color: #403a3a;
    border: 1px solid #e0e0e0;
    width: 31px;
    height: 22px;
    margin-top: -11px;
    opacity: 1;
    margin-left: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 12px;
}
.flex-direction-nav a:hover{
    background-color: rgb(0, 158, 127);
}
    
.related-price {
    color: rgb(0, 158, 127);
}
/*related product carousel end*/